doctype html
html
  head
    title Hitesh Dance Academy
    block scripts
        script(src='/static/index.js')
    block style   
  body
    block content
    footer#footer
        | Copyright @ 2019 HiteshDanceAcademy.com  | All rights reserved
    